html {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  background-color: #eee9de;
  color: #333
  line-height: 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin:0rem;

section {
  text-align: center;
  padding: 2em 0;
}

img {
  display: block;
  padding: 1em 1em 0;
}

.image{
  display: inline-block;
  max-width: 25em;
  vertical-align: middle;
}
.text {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  padding: 1em;
  max-width: 25em;

p {
  margin-bottom: 1.5rem;
  padding: .5em 0 0;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

a {
  display: inline-block;
  padding: .4em .75em .5em;
  margin-bottom: 2rem;
  border-radius: 10px;
  color: #333;
  text-decoration: none;
  border: 3px solid #333;
}

.sections a:hover {
  background-color: #666;
  color: #fff;
}
