html {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  background-color: #eee9de;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  padding: .5em 0;
  display: block;
  text-align: center;
  margin: 1.5rem 0;
}

img {
  display: block;
  width: 100%;
}

div {
  position: relative;
  display: inline-block;
  padding: 1em;
  min-width: 300px;
  max-width: 25em;
  vertical-align: middle;
}

h2 {
  margin: 0;
  text-align: left;
  font-weight: bold;
  line-height: 1.5;
  display: block;
}

.text {
  text-align: left;
}

p {
  padding: .5em 0;
}

.btn {
  display: inline-block;
  padding: .5em 1em;
  text-align: center;
  border-radius: 8px;
  color: #333;
  text-decoration: none;
  border: 3px solid #000;
  background-color: #eee9de;
}

.btn:hover {
  background-color: #666;
  color: #fff;
}
